                    @font-face {
                        font-family: "Algerian Regular.ttf";
                        src: url("../style/font\ algerian/Algerian Regular.ttf") format("truetype");
                    }
                    
                    .navbar * {
                        font-family: "Algerian Regular.ttf" !important;
                        color: #c35c1c !important;
                        font-size: 25px;
                        background-color: white !important;
                    }
                    
                    .navbar-brand {
                        margin-left: 15px !important;
                    }
                    
                    .collapse {
                        justify-content: space-around !important;
                    }
                    
                    .nav-item {
                        margin-left: 15px !important;
                    }
                    /* #bouton {
            color: #c8692e !important;
            border-color: #c8692e !important;
            font-family: "Algerian Regular.ttf";
        } */
                    /* #bouton:hover {
            color: #fff !important;
            background-color: #c8692e !important;
            border-color: #c8692e !important;
        } */
                    
                    .mes {
                        display: flex !important;
                        flex-wrap: wrap !important;
                        justify-content: space-evenly !important;
                    }
                    
                    .btn {
                        background-color: #f8b58b !important;
                    }
                    
                    .coul {
                        background-color: #c8692e !important;
                        margin-top: 70px;
                    }
                    
                    #domaine {
                        background-color: #c8692e !important;
                        color: white !important;
                        border-radius: 15px !important;
                    }
                    
                    .co {
                        display: flex !important;
                        justify-content: space-between !important;
                    }
                    
                    .co img {
                        height: 100px;
                        /* width: 150px !important; */
                        margin-bottom: 50px;
                        padding-right: 45px;
                        padding-left: 45px;
                    }
                    
                    .footer {
                        display: flex;
                        position: sticky;
                        background-color: #e6aa2a;
                        color: black;
                        justify-content: space-around;
                        height: 450px;
                        text-align: center;
                        align-items: center;
                        font-family: "Algerian Regular.ttf";
                    }
                    
                    .or {
                        margin-top: 30px;
                    }
                    
                    .footer .or div {
                        line-height: 35px;
                    }
                    
                    .partenaire {
                        margin-top: 1px;
                        background-color: #e1ae42;
                        font-family: "Algerian Regular.ttf";
                    }
                    
                    .partenaire h2 {
                        text-align: center;
                        margin-bottom: 50px;
                    }
                    
                    #bas img {
                        height: 100px;
                        margin-bottom: 50px;
                        padding-right: 45px;
                    }
                    
                    footer {
                        display: flex;
                        height: 75px;
                        align-items: center;
                        color: #c8692e;
                        justify-content: center;
                        font-family: "Algerian Regular.ttf";
                    }
                    
                    #service {
                        background-color: #f7f7f7;
                        height: 500px;
                        display: flex;
                        color: #c8692e;
                        justify-content: space-evenly !important;
                        font-family: "Algerian Regular.ttf";
                        line-height: 29px;
                    }
                    
                    #nos h2 {
                        text-align: center;
                        margin-bottom: 20px;
                    }
                    
                    #img {
                        animation: myAnim 5s ease-in-out 2s infinite normal forwards;
                    }
                    
                    @keyframes myAnim {
                        0%,
                        50%,
                        100% {
                            opacity: 1;
                        }
                        25%,
                        75% {
                            opacity: 0;
                        }
                    }