body {
    margin: 0px;
    padding: 0px;
}

.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
    padding-top: 50px;
}


/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}


/* Add some shadows to create a card effect */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* Some left and right padding inside the container */

.container {
    padding: 0 16px;
}


/* Clear floats */

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #c8692e;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #e6aa2a;
}

.servi {
    color: #c8692e;
    background-image: url("../image/equipe.PNG");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
}

.servi h1 {
    margin-top: ;
}

.eq {
    text-align: center;
}